@use "sass:map";
@import "../../../styles/variables";

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: map.get($z-index, overlay);
}

.appear,
.enter {
  background-color: transparent;
}

.appearActive,
.enterActive,
.appearDone,
.enterDone {
  background-color: rgba($black, 0.75);
  transition: background-color 0.2s;
}

.exit {
  background-color: rgba($black, 0.75);
}

.exitActive,
.exitDone {
  background-color: transparent;
  transition: background-color 0.2s;
}
