@import "../../styles/variables";

.modal {
  max-width: 360px;
}

.content {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.controls {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: auto;
}

.errors {
  color: $primary-red-500;
}
