@import '../../styles/variables';

.container {
  position: relative;
  outline: none;
}

.field {
  display: flex;
  flex-flow: row nowrap;
  height: $input-min-height;
}

.content {
  position: relative;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.addon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.startAddon {
  margin-inline-end: 0.5rem;
}

.endAddon {
  margin-inline-start: 0.5rem;
}

.bottomAddon {
  position: relative;
  width: 100%;
}
