@import "../../styles/variables";
@import "../../styles/mixins";

.topbar {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  @include mq(mobile) {
    flex-flow: column-reverse nowrap;
    align-items: stretch;
  }
}

.search {
  flex: 1 1 auto;
}

.table {
  @include mq(mobile) {
    th:last-child,
    td:last-child {
      position: sticky;
      right: 0;
      background-color: $primary-gray-25;
    }

    th:last-child::after,
    td:last-child::after {
      position: absolute;
      top: 0;
      bottom: -1px;
      left: 0;
      width: 30px;
      transform: translateX(-100%);
      transition: box-shadow .3s;
      content: "";
      pointer-events: none;
      box-shadow: inset -0.625rem 0 0.5rem -0.5rem $primary-gray-200;
    }
  }
}

.actions {
  @include reset-list;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}
