@import "../../styles/mixins";

.topbar {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.search {
  flex: 1 1 auto;
}

.actions {
  @include reset-list;
  
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.25rem;
}
